<div class="sheet">
  <div class="sheet-bgtop">
    <div class="sheet-bgbtm">

    <div id="new_customer">

      <div id="left_side"> 
        <h1> Neuer Kunde </h1>
      </div>
      <div id="right_side">
        <%= render 'form' %>
      </div>

    </div>

    </div>
  </div>
</div>
