<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Hallo <%= @customer.name %> </h1>
    <p>
      Deine Bestellung:
    </p>
    <p>
      <%= @order.article %>
    </p>
    <p>
      ist angekommen und kann von dir abgeholt werden.
    </p>
    <p>
      Bitte antworte nicht auf diese mail direkt, sondern ruf an oder benutze diese Addresse:
    </p>
    <p>Das Radspannerei Team</p>
  </body>
</html>
