<h1>Neue Kategorie</h1>

<div id="listContainer">
  <ul id="expList">
    <% Category.roots.each do |category| %>
      <%= render :partial => "category", :locals => { :category => category, :links => false} %>
    <% end %>
  </ul>
</div>

<%= render 'form' %>

<%= link_to 'Zurück', categories_path %>
